<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      {{!-- Dynamically render title via/based on route --}}
      <title>{{ title }}</title>
      {{!-- in routes: app.get('/', (req, res) => {
                            res.render('add-game', {title: 'Add Game'});
                       }) --}}
      <!-- css -->
      <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=VT323&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="../../public/css/style.css">
    </head>
    <body>
        <header>
            <div>
                <img id="logo-icon" src="../public/imgs/controller.png" alt="Yellow game controller">
            </div>   
            <div>
                <img id="logo-name" src="../public/imgs/title.png" alt="'Game Connoisseur'">
            </div>  
            <nav class="navBar">                               
               <ul>
                   <a href="index.html">Home</a>
                   <a href="browsegames.html">Browse Games</a>
                   <a href="mygames.html">My Games</a>
                   <a href="myprofile.html">My Profile</a>
                   <a href="aboutus.html">About Us</a>
               </ul>
            </nav>
        </header>
        <main>
            {{{ body }}}
        </main>

	<script src="../public/js/all-games.js"></script>
  </body>