<div class="main-container">
    {{!-- SHOULD WE MAKE THE HOMEPAGE AN ABOUT US/HOW TO USE?? --}}
    <div class="ghosties">
        <img class="ghost1" src="/imgs/red-ghost.png" alt="Red Ghost">
        <img class="ghost2" src="/imgs/green-v-reality.png" alt="Green ghost wearing VR headseat">
    </div>

    <img class="mouse" src="/imgs/mouse.png" alt="Computor Mouse">

    <div id="about-us">
        <p>Starting as gamers ourselves, we wanted to create a space where gamers could come together and rate their favorite games.</p> 
        <p>With our website you can save your favorite games, explore other players posts of their favorite games, comment on each others posts, and make friends from all around the world.</p> 
    </div>

    <div class="center-main">
        <div id="ready-play">
            <img class="potion" src="/imgs/green-potion.png" alt="Green potion bottle">
            <p>Ready player one?</p>
            <img class="potion" src="/imgs/red-potion.png" alt="Red potion bottle">
        </div>    
        <input type="image" id="start-press"src="/imgs/press-start.png" alt="Press Start" href="/login">
    </div>
        

    <div id="s-u">
        <h3>Don't have an account with us?</h3>
        <img id="new-player" src="/imgs/new-player.png" href="/new-user">
    </div>

    <img class="console" src="/imgs/game-b.png" alt="Handheld game device">
</div>
