<div class="login-container">
    <form class="login-form">
        <div>
            <label for="username">Username: </label><br>
            <input type="text" class="username-login"><br>
        </div>
        <div>
            <label for="password">Password: </label><br>
            <input type="password" class="password-login"><br>
        </div>
        <input type="image" src="/imgs/press-start.png" alt="Submit" width="48" height="48">
    </form>

    <div>
        <h3>Don't have an account with us?</h3>
        <img id="new-player" src="/imgs/new-player.png" href="/new-user">
    </div>
</div>

<script src="/js/login.js"></script>