<div class="login-container">
    <form>
        <div>
            <label for="username">Username: </label><br>
            <input type="text" class="username"><br>
        </div>
        <div>
            <label for="password">Password: </label><br>
            <input type="password" class="password"><br>
        </div>
        <input type="image" src="../public/imgs/press-start.png" alt="Submit" width="48" height="48">
    </form>

    <div>
        <h3>Don't have an account with us?</h3>
        <img id="new-player" src="../public/imgs/new-player.png" href="./new-user.handlebars">
    </div>
</div>

<script src="../public/js/login.js"></script>