<div class="my-games-container">
    <div class="all-header">
        <img class="mouse" src="/imgs/mouse.png" alt="Computor Mouse">
        <h1>My Games: </h1>
        <h3>Wow, you have great taste in games!</h3>
        <img class="joy-stick" src="/imgs/joy-stick.png" alt="Old school joy stick">
    </div>
    <div class="game-cards-container">
        {{!-- Iterate over all saved games and render each game as follows --}}
        {{#each games as |game|}}
            <div class="game-card">
                <div class="card-header">
                    {{game_name}}
                    <img class="view-btn" src="/imgs/red-a.png" alt="Red 'A' button">
                </div>
                <div class="card-body">
                    {{!-- Img uploaded to render here --}}
                    <div>
                    {{cover_img}}
                    </div>
                    <p>
                        Your Rating: {{rating}}/5 <img id="heart-rating" src="/imgs/heart.png" alt="Retro game health heart">
                    </p>
                </div>
            </div>
        {{/each}}
    </div>
</div>

{{#if logged_in}}
<script src="/js/all-games.js"></script>
<script src="/js/view-game.js"></script>
{{/if}}